@charset "UTF-8";
@charset "UTF-8";

        *{
            margin : 0px;
            font-family: 'Do Hyeon', sans-serif;
        }
        section, header, footer{
            padding: 0px;
        }
        div#container{
            position: relative;
            width: 1270px;
            margin: 0 auto;
        }

        /*header*/
        /*top메뉴 스타일*/
        header #blacktop{
            background-color: #ffffff;
            height: 30px;
            position: relative;
            letter-spacing: 2px;
        }
        header #blacktop ul{
            position: absolute;
            top: 0px;
            right: 0px;
        }
        #blacktop>ul>li{
            display: inline-block;
            
        }
        #blacktop>ul>li>a{
            color: black;
            text-decoration: none;
            font-size: 7px;
            
        }

        /*메인메뉴 스타일*/
        header nav{
            background-color: #ffffff;
            width: 100%;
            height: 100px;
            display: flex;
            position: relative;
            letter-spacing: 5px;
        }
        nav#menu img#headerlogo{
            position: absolute;
            top: 15px;
            left: 20px;
        }
        
        nav#menu ul{
            display:table;
            padding: 0px;
            margin: auto;
        }
        nav#menu li{
            list-style-type: none;
            width: 10em;
            float: left;
            text-align: center;
            align-items: center;
        }
        #menu a{
            text-decoration: none;
            font-weight: bolder;
            font-size: 20px;
            color:#AC0F0F;
        }
        nav#menu img#headerB{
            position : absolute;
            top : 40px;
            right: 20px;
        }
    
        /*footer*/
        footer div#footer{
            background-color: #6E6E6E;
            width: 100%;
            height: 150px;
            display: flex;
            position: relative;
            letter-spacing: 2px;
        }

        footer div#footerlogo{
            position: absolute;
            top: 40px;
            left: 80px;
        }

        footer #footercenter{
            padding : 0px;
            margin : auto;
            position: relative;
        }
        footer div#footer1{
            position: absolute;
            top:0px;
            left: 10px;
            text-align:center;
            
        }
        footer #footer1 ul li{
            list-style-type: none;
            float : left;
            text-align:center;
            width: 10em;
            font-size: 11px;
        }
        div#footer1 ul li a{
            text-decoration: none;
            color: black;
        }
        footer #footer2{
            margin-top: 50px;
            margin-left: 50px;
        }
        div#footer2 p{
            font-size: 12px;
        }
        footer div#footer3{
            position: absolute;
            top: 50px;
            right: 20px;
        }
        footer div#footer3 h3{
            height: 2em;
        }
        div#footer3 button{
            position: absolute;
            right: 0px;
            background-color:  black;
            height: 30px;
            border: 0px;
            border-radius: 5px;
        }
        div#footer button a{
            text-decoration: none;
            color: white
            
        }
    